{% extends 'base.html' %}
{% load static %}



{% block main %}
    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
             style="background-image: url({% static 'home/images/about.jpg' %});">
        <h2 class="l-text2 t-center">
            About
        </h2>
    </section>

    <!-- about Page -->
    <section class="bgwhite p-t-66 p-b-38">
        <div class="container">
            <div class="row">

                <div class="col-md-4 p-b-30">
                    <div class="hov-img-zoom">
                        <img src="{{ item.img.url }}" alt="IMG-ABOUT" style="height: 60vh">
                    </div>
                </div>

                <div class="col-md-8 p-b-30">
                    <h3 class="m-text26 p-t-15 p-b-16">
                        {{ item.title }}
                    </h3>

                    <p class="p-b-28">
                        {{ item.descriptions_main }}
                    </p>

                    <div class="bo13 p-l-29 m-l-9 p-b-10">
                        <p class="p-b-11">
                            {{ item.descriptions_long }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}